/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$body-bg: #ffffff;
$body-color: #191919;
$link-color: #027eb6;
$font-family-sans-serif: "Comic Sans MS", sans-serif;



/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
